body{
    background-color: gray;
}

table{
    border-collapse: collapse;
    
}
td{
    border: 1px solid black;
}
.mePhoto{
    max-height:100%; 
    max-width:100%;
}
.meCell{
    width:170px; 
    height: 255px;
    text-align:center; 
    vertical-align:middle"
}
.antet{
    background-color: chartreuse;
}
