td{
    border: solid 1px black;
}
.mePhoto{
    max-height:100%; 
    max-width:100%;
}
.meCell{
    width:170px; 
    height: 255px;
    text-align:center; 
    vertical-align:middle"
}
.cv{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.firstTable{
    width: 100%;
}
.antet{
    background-color: chartreuse;
    border: 1px solid black;
}
.datePersonale{
    background-color: chocolate;
    border: 1px solid black;
}
body{
    background-color: gray;
}
.alignLeft{
    text-align: right;
}