.firstTable{
    width: 85%;
    margin-top: 25px;
    padding:25px 40px; 
}
body{
    background-color: rgb(60, 203, 228);
}
td{
    border: 3px solid black;
}
.mePhoto{
    max-height:100%; 
    max-width:100%;
}
.meCell{
    width:170px; 
    height: 255px;
    text-align:center; 
    vertical-align:middle"
}
.antet{
    background-color: rgba(0, 60, 255, 0.637);
    width: 75%;
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.limba{
    text-align: center;
}