ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    float: left;
    position: relative;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    width: 120px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: rgb(83, 81, 81);
    margin-left: 1px;
    white-space: nowrap;
}

ul li a:hover {
    background: #6d5d5d;
}

li:hover ul {
    display: block;
    position: absolute;
}

li li:hover a {
    float: none;
    color: rgb(231, 138, 16);
}
img{
    float: left;
    width: 280px;
    height: 220px;
    object-fit: cover;
}

table{
    text-align: center;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
}
body{
    background-color: gray;
}
td{
    padding-left: 10px;
    padding-right: 10px;
}