ul {
    font-family: Arial, Verdana;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    float: left;
    position: relative;
}

li ul {
    display: none;
}

ul li a {
    display: block;
    width: 120px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #1e7c9a;
    margin-left: 1px;
    white-space: nowrap;
}

ul li a:hover {
    background: #3b3b3b;
}

li:hover ul {
    display: block;
    position: absolute;
}

li li:hover a {
    float: none;
    color: #fe3;
}

img {
    max-width: 50%;
    max-height: 50%;
}