.mePhoto{
    max-height:100%; 
    max-width:100%;
}
.meCell{
    width:170px; 
    height: 255px;
    text-align:center; 
    vertical-align:middle"
}
.firstTable{
    width: 100%;
}
.antet{
    background-color: chartreuse;
    margin-bottom: 15px;
}
.datePersonale{
    background-color: chocolate;
}
body{
    background-color: gray;
}
.limba{
    border-collapse: collapse;
    text-align: center;
}
.border{
    border: 1px solid black;
}

.formatRow{
    border-right: 2px solid black;
    text-align: right;
    padding-right: 10px;
}
table{
    border-collapse: collapse;
}
.paddingTop{
    padding-top: 20px;
}

.paddingLeft{
    padding-left: 10px;
}
.cv{
    font: Arial;
    size: 12px;
    font-style: italic;
    font-weight: bold;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
}
.datePersonale{
    overflow:auto;
    height: 300px;
}